.computing--heading-primary {
  font-size: 4.8rem;
  font-family: "SF Pro Display Regular";
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.computing--link{
display: flex;
justify-content: center;
font-size: 2rem;
font-family: "Roboto";
margin-bottom: 3rem;
gap: 3.2rem;
}

.icon-size {
  font-size: 2rem;
}

.computer--grid{
  width: 1450px;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr auto;
  margin: 6rem auto;
  row-gap: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(128,128,128,0.288);
  padding: 0 2.5rem;
  justify-content: space-between;
}

.card:nth-child(5){
  border-right: none;
}

.arrow {
  font-size: 2.4rem;
  align-items: center;
  cursor: pointer;
}

.laptop--img{
  display: flex;
  justify-content: center;
}

.laptop-img{
  height: 121px;
  width: auto;
  align-self: center;
}

.laptop-name{
  display: block;
  font-size: 2rem;
  color: #0076ce;
  text-decoration: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.laptop-price{
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.8rem 0;
}

.laptop-specs{
  list-style: none;
}

.buy--laptop{
  background-color: #0076ce;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  padding:1rem 0;
  border-radius: 3px;
  margin-top: 1.6rem;
}

.laptop-spec{
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 20px;
}

.laptop-see-more{
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #636363;
  grid-column: 3/5;
  text-align: center;
}

/* Bootstarp */
.card{
  border-top: none;
  border-bottom: none;
  border-left: none;
}