.wearable {
  margin-bottom: 2rem;
  width: 100%;
}

.wearables {
  /* background-color: #EFEFEF; */
  padding-bottom: 4rem;
}

.wearables--heading-primary {
  font-size: 4.8rem;
  font-family: "SF Pro Display Regular";
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.watch-name-links {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Roboto";
  margin-bottom: 4rem;
  gap: 3.2rem;
}

.watch-name {
  text-decoration: none;
  font-size: inherit;
  color: #1d1d1f;
}

.watch-container {
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}

.container-size span {
  margin-top: 2rem;
}

.container-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-color: #f5f5f7ff;
  padding-bottom: 3.6rem;
  border-radius: 20px;
}

.container-size h2 {
  font-size: 3rem;
  width: 200px;
  text-align: center;
  margin-top: 2rem;
}

.container-size p {
  font-size: 1.8rem;
  width: 300px;
  text-align: center;
  margin-top: 1.6rem;
}

.watch7 {
  height: 180px;
}

.airpod {
  width: 200px;
}

.galaxy {
  grid-column: 1 / span 2;
  overflow: hidden;
  border-radius: 20px;
}

.galaxy-watch {
  height: 402px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 20%;
}

.galaxy-container {
  position: relative;
}

.galaxy--text {
  position: absolute;
  top: 98px;
  right: 58px;
}

.galaxy-watch--name {
  font-size: 5rem;
}

.cta-watch {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.galaxy--learn {
  font-size: 1.6rem;
  font-family: "Roboto";
  font-weight: 600;
  margin-top: 1.6rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000;
}

.galaxy--learn:hover {
  text-decoration: none;
}

.galaxy--buy {
  font-size: 1.6rem;
  font-family: "Roboto";
  font-weight: 600;
  margin-top: 1.6rem;
  background-color: #000;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 16px;
  text-decoration: none;
}

.search {
  border: none;
  background: #f7f7f7;
  font-size: 1.8rem;
  color: #000;
  outline: none;
  padding: 12.5px 17.25rem 12.5px 5px;
  overflow: hidden;
}

.search-container--left {
  margin-left: 7px;
}

.search-container {
  background: #f7f7f7;
  border-radius: 22px;
  display: flex;
  border: 1px solid #757575;
  max-width: 448px;
  height: 50px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
