* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

.heading-primary {
  font-size: 5.6rem;
  font-family: "SF Pro Display Medium";
  text-align: center;
}

.heading-secondary{
  text-align: center;
  font-size: 4rem;
  font-family: "Roboto";
  font-weight: 600;
}

.heading-tertiary{
  text-align: center;
  font-size: 2.8rem;
  font-weight: normal;
  font-family: "SF Pro Display Regular";
}

.heading-tertiary p{
  margin-top: 4.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}